@import '../../base/rwd-base';
@import '../../base/default';

@mixin build-shrink-attributes($rwd) {
  [acss#{$rwd}-row], [acss#{$rwd}-col], [acss#{$rwd}-grid] {
    &.no#{$rwd}-shrink > * {
      flex-shrink: 0;
    }

    > .no#{$rwd}-shrink {
      flex-shrink: 0;
    }

    > .is#{$rwd}-fill {
      flex: 1;
    }
  }

  [acss#{$rwd}-row], [acss#{$rwd}-col], [acss#{$rwd}-grid] {
    &.no-shrink > * {
      flex-shrink: 0;
    }

    > .no-shrink {
      flex-shrink: 0;
    }

    > .is-fill {
      flex: 1;
    }
  }

  [acss-row], [acss-col], [acss-grid] {
    &.no#{$rwd}-shrink > * {
      flex-shrink: 0;
    }

    > .no#{$rwd}-shrink {
      flex-shrink: 0;
    }

    > .is#{$rwd}-fill {
      flex: 1;
    }
  }
}

@mixin build-flex($rwd, $flex) {
  [acss-flex~="#{$flex}#{$rwd}"] {
    flex: $flex;
  }
}

@mixin build-flex-grow($rwd, $flex) {
  [acss-flex-grow~="#{$flex}#{$rwd}"] {
    flex-grow: $flex;
  }
}

@mixin build-flex-shrink($rwd, $flex) {
  [acss-flex-shrink~="#{$flex}#{$rwd}"] {
    flex-shrink: $flex;
  }
}

@mixin build-flex-size-attribute($rwd) {
  @include build-shrink-attributes($rwd);

  $flex: $min-flex;
  @while $flex <= $max-flex {
    @include build-flex($rwd, $flex);
    @include build-flex-grow($rwd, $flex);
    @include build-flex-shrink($rwd, $flex);
    $flex: $flex + 1;
  }
}
