@import 'compass/css3';
@import '../../base/util';
@import '../../base/_default';

@mixin divider-y-style {
  width: 100%;
  position: absolute;
  left: 0;
}

[acss-divider-y] > * {
  position: relative;

  &:before {
    @include divider-y-style;
  }

  &:last-child:after {
    @include divider-y-style;
  }

  &:not(:first-child):before {
    content: '';
  }
}

@mixin build-divider-y($rwd, $divider-gap) {
  [acss-gap-y~="#{$divider-gap}#{$rwd}"][acss-divider-y] {
    > :before {
      top: px(-$divider-gap / 2);
    }

    > :last-child:after {
      bottom: px(-$divider-gap / 2);
    }
  }
}

@mixin build-divider-y-attribute($rwd) {
  $divider-gap: $min-divider-gap;
  @while ($divider-gap <= $max-divider-gap) {
    @include build-divider-y($rwd, $divider-gap);
    $divider-gap: $divider-gap + 5;
  }

  [acss-divider-y~="around#{$rwd}"] {
    > :first-child:before {
      content: '' !important;
    }

    > :last-child:after {
      content: '' !important;
    }
  }
}

@mixin build-divider-y-thickness($rwd, $thickness) {
  [acss-divider-y~="#{$thickness}#{$rwd}"] {
    > :before, > :after {
      height: px($thickness);
      @include translateY(px(round(-$thickness/2)));
    }
  }
}

@mixin build-divider-y-thickness-attribute($rwd) {
  $divider-thickness: $min-divider-thickness;
  @while ($divider-thickness <= $max-divider-thickness) {
    @include build-divider-y-thickness($rwd, $divider-thickness);
    $divider-thickness: $divider-thickness + 1;
  }
}

@mixin build-divider-y-attributes($rwd) {
  @include build-divider-y-attribute($rwd);
  @include build-divider-y-thickness-attribute($rwd);
}
