@import '../../base/rwd-base';

@mixin build-flex-align-wrap($rwd, $attributeValue, $propertyValue) {
  [acss-align-wrap~="#{$attributeValue}#{$rwd}"] {
    align-content: $propertyValue;
  }
}

@mixin build-flex-align-wrap-attributes($rwd) {
  @include build-flex-align-wrap($rwd, "top", flex-start);
  @include build-flex-align-wrap($rwd, "center", center);
  @include build-flex-align-wrap($rwd, "bottom", flex-end);
  @include build-flex-align-wrap($rwd, "between", space-between);
  @include build-flex-align-wrap($rwd, "around", space-around);
  @include build-flex-align-wrap($rwd, "stretch", stretch);
}
