$float-threshold: 0.01;

// PC RWD
$rwd-mobile-max-width: 991px;
$rwd-xs-max-width: 374px;
$rwd-sm-min-width: 375px;
$rwd-sm-max-width: 767px;
$rwd-md-min-width: 768px;
$rwd-md-max-width: 991px;
// Mobile RWD
$rwd-pc-min-width: 992px;
$rwd-lg-min-width: 992px;
$rwd-lg-max-width: 1199px;
$rwd-xl-min-width: 1200px;

// Gap
$min-gap: 0;
$max-gap: 100;

// Grid
$min-grid: 1;
$max-grid: 12;

// Grid gap
$min-grid-gap: 0;
$max-grid-gap: 50;

// Pad
$min-pad: 0;
$max-pad: 100;

// Opacity
$opacities: ("0", "0.1", "0.2", "0.3", "0.4", "0.5", "0.6", "0.7", "0.8", "0.9", "1");

// Radius
$radius-min: 0;
$radius-max: 30;

// Line thickness
$line-thickness-min: 0;
$line-thickness-max: 10;

// Line height
$min-line-height: 1;
$max-line-height: 3.0;

// Font size
$min-font-size: 12;
$max-font-size: 40;

// Flex
$min-flex: 0;
$max-flex: 12;

// Position
$position-min: -100;
$position-max: 100;

// Border
$border-width-min: 0;
$border-width-max: 20;

// Font weight
$font-weights: (normal, bold, bolder, lighter, 100, 200, 300, 400, 500, 600, 700, 800, 900);

// Divider gap
$min-divider-gap: 0;
$max-divider-gap: 100;

// Divider thickness
$min-divider-thickness: 0;
$max-divider-thickness: 10;

// Table pad
$min-table-pad: 0;
$max-table-pad: 50;

// Colors
$transparent-color: ('transparent': transparent);
$gray-colors: (
        'gray-0': #000,
        'gray-1': #111,
        'gray-2': #222,
        'gray-3': #333,
        'gray-4': #444,
        'gray-5': #555,
        'gray-6': #666,
        'gray-7': #777,
        'gray-8': #888,
        'gray-9': #999,
        'gray-a': #aaa,
        'gray-b': #bbb,
        'gray-c': #ccc,
        'gray-d': #ddd,
        'gray-e': #eee,
        'gray-f': #fff);
$black-colors: (
        'black-o1': rgba(0, 0, 0, 0.1),
        'black-o2': rgba(0, 0, 0, 0.2),
        'black-o3': rgba(0, 0, 0, 0.3),
        'black-o4': rgba(0, 0, 0, 0.4),
        'black-o5': rgba(0, 0, 0, 0.5),
        'black-o6': rgba(0, 0, 0, 0.6),
        'black-o7': rgba(0, 0, 0, 0.7),
        'black-o8': rgba(0, 0, 0, 0.8),
        'black-o9': rgba(0, 0, 0, 0.9),
        'black': #000);
$white-colors: (
        'white-o1': rgba(255, 255, 255, 0.1),
        'white-o2': rgba(255, 255, 255, 0.2),
        'white-o3': rgba(255, 255, 255, 0.3),
        'white-o4': rgba(255, 255, 255, 0.4),
        'white-o5': rgba(255, 255, 255, 0.5),
        'white-o6': rgba(255, 255, 255, 0.6),
        'white-o7': rgba(255, 255, 255, 0.7),
        'white-o8': rgba(255, 255, 255, 0.8),
        'white-o9': rgba(255, 255, 255, 0.9),
        'white': #fff);
