@import 'default';
@import 'rwd';
@import 'util';
@import 'text-font';

@mixin build-line-height($rwd, $line-height) {
  [acss-line-height~="#{$line-height}#{$rwd}"] {
    line-height: $line-height;
  }
}

@mixin build-line-height-attribute($rwd) {
  $line-height: $min-line-height;
  @while $line-height <= $max-line-height + $float-threshold {
    @include build-line-height($rwd, $line-height);
    $line-height: $line-height + 0.1;
  }
}

@mixin build-font-size($rwd, $font-size) {
  [acss-font-size~="#{$font-size}#{$rwd}"] {
    font-size: px($font-size);
  }
}

@mixin build-font-size-attribute($rwd) {
  $font-size: $min-font-size;
  @while $font-size <= $max-font-size {
    @include build-font-size($rwd, $font-size);
    $font-size: $font-size + 2;
  }
}

@mixin build-font-weight($rwd, $weight) {
  [acss-font-weight~="#{$weight}#{$rwd}"] {
    font-weight: $weight;
  }
}

@mixin build-font-weight-attribute($rwd) {
  @each $weight in $font-weights {
    @include build-font-weight($rwd, $weight);
  }
}

@mixin build-font-attribute($fonts) {
  @include cache-fonts($fonts);

  @each $font-name, $font in $fonts {
    [acss-font="#{unquote($font-name)}"] {
      font-family: $font;
    }
  }
}

@mixin build-text-align($rwd, $align) {
  [acss-text-align~="#{$align}#{$rwd}"] {
    text-align: $align;
  }
}

@mixin build-text-align-attribute($rwd) {
  $aligns: (left, center, right, justify);

  @each $align in $aligns {
    @include build-text-align($rwd, $align);
  }
}

@mixin build-text-attributes($rwd) {
  @include build-line-height-attribute($rwd);
  @include build-font-size-attribute($rwd);
  @include build-font-weight-attribute($rwd);
  @include build-font-attribute($cht-fonts);
  @include build-font-attribute($eng-fonts);
  @include build-text-align-attribute($rwd);
}

@include rwd {
  @include build-text-attributes($rwd);
}

@include rwd-xl {
  @include build-text-attributes($rwd-xl);
}

@include rwd-lg {
  @include build-text-attributes($rwd-lg);
}

@include rwd-md {
  @include build-text-attributes($rwd-md);
}

@include rwd-sm {
  @include build-text-attributes($rwd-sm);
}

@include rwd-xs {
  @include build-text-attributes($rwd-xs);
}
