@import "../../base/rwd";
@import "compass/css3";

@mixin build-texture-mapping-attributes($rwd) {
  .acss-texture {
    &[acss#{$rwd}-texture-mapping="width"] {
      background-size: 100% auto;
    }

    &[acss#{$rwd}-texture-mapping="height"] {
      background-size: auto 100%;
    }

    &[acss#{$rwd}-texture-mapping="cover"] {
      background-size: cover;
    }

    &[acss#{$rwd}-texture-mapping="contain"] {
      background-size: contain;
    }

    &[acss#{$rwd}-texture-mapping="full-size"] {
      background-size: 100% 100%;
    }
  }
}
